* {
  margin: 0;
  padding: 0;
}

form {
  margin: 10px;
  display: flex;
  gap: 5px;
}

input {
  width: 125px;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
}

.task {
  display: flex;
  gap: 5px;
}